
.box {
	padding: 20px;
	border: 0px solid transparent!important;
}
.box  .infos {
	text-align: left;
	margin-bottom: 20px;
	padding: 20px;
	color: #fff;
	font-size: 16px;
	border: 0px solid transparent!important;
	/*border-bottom: 1px solid #666!important;*/
}

.box .comments {
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 20px;
	color: #fff;
	background:#1e1e23;	
	border: 0px solid transparent!important;
}
.box .title {
	color: #ccc;
	font-weight: bold;
	border: 0px solid transparent!important;
}
.box .text {
	color: #fff;
	border: 0px solid transparent!important;
}


.box .infos {
	color: #ccc;
	border: 0px solid transparent!important;
	padding: 0 20px;
	text-align: justify;
}
